body{
    background-color: black;
    color:azure;
    font-family: "Orbitron", sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Comment-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#comment-input{
    width: 300%;
    height: 60px;
    margin-bottom: 20px;
}
h1{
    font-size: 300%;
    font-weight: 900;
}
.comment{
    background-color: #FCEE0C;
    color: black;
    border: solid 3px white;
    border-radius: 8px;
}
button{
    border-radius: 6px;
    background-color: #03D8F3;
    border: solid 1px #03D8F3;
}
.timestamp{
    font-style: oblique;
    font-size: smaller;
}